/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* UTILITY */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-l {
    float: left;
}

/* MAIN-APP */
main {
    background-color: #d8dbd6;
    width: 100%;
    height: 100vh;
    padding: 1% 0;
}

.general-container {
    width: 80%;
    /* TEST */ height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.contacts-container {
    width: 40%;
    height: 100%;
}

.messages-container {
    width: 60%;
    /* TEST */ height: 100%;
    background-color: orange;
}

.user-header,
.contact-header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: .5rem;
    background-color: #eaeaea;
}

.user-header .user-image,
.contact-header .contact-image {
    width: 40px;
}

.user-image img,
.contact-image img {
    border-radius: 50%;
}

.user-data,
.contact-data {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 .5rem;
}

.user-data .user-name,
.contact-data .contact-name {
    font-weight: 500;
}

.user-data .icons-container,
.contact-data .icons-container {
    display: flex;
    color: #b1b1b1;
    font-size: 1.2rem;
}

.user-data .icons-container li:not(li:first-child),
.contact-data .icons-container li:not(li:first-child) {
    margin-left: 1rem;
}

.notifications-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #8edafc;
}

.notifications-container .icon-container {
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 50%;
    color: #8edafc;
    background-color: white;
}

.notifications-container .text {
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
}

.notifications-container .text span {
    font-size: .9rem;
    font-weight: 500;
}

.notifications-container .text a {
    font-size: .7rem;
}

.search-container,
.input-message {
    display: flex;
    align-items: center;
    padding: .5rem .5rem;
}

.search-container .icon-container,
.input-message .icon-container {
    padding: .3rem 1rem;
    border-radius: 20px;
    color: #b1b1b1;
    background-color: whitesmoke;
    box-shadow: 2px 2px lightgrey;
}

.search-container .input-container {
    flex-grow: 1;
}

.search-container .search-input {
    display: inline-block;
    width: 90%;
    margin-left: .5rem;
    padding: .3rem .5rem;
    border: 0;
    border-radius: 20px;
}

.search-container .search-input:focus-visible {
    outline: 3px solid #8edafc;
}

.contacts li {
    display: flex;
    position: relative;
    padding: .3rem 1rem;
}

.contacts .contact-avatar {
    width: 50px;
    margin-right: .5rem;
}

.contact-avatar img {
    border-radius: 50%;
}

.contacts .text span {
    font-weight: 500;
}

.contacts .text p,
.contact-data .contact-name p {
    font-size: .8rem;
    color: #b1b1b1;
}

.contacts .time {
    position: absolute;
    top: .3rem;
    right: .7rem;
    font-size: .7rem;
    color: #b1b1b1;
}

.contact-header {
    border-left: 2px solid lightgrey;
}

.messages-container .chat-container {
    height: calc(100% - 120px);
    background-image: url('../img/mine.jpg');
}

.messages-container .input-message {
    height: 60px;
    padding: 0 2rem;
    background-color: #eaeaea;
}

.input-message .icon-container {
    font-size: 1.3rem;
    color: #6b7376;
}

.input-message .input-container {
    flex-grow: 1;
    text-align: center;
}

.input-message .new-message {
    width: 90%;
    padding: .5rem 1rem;
    border: 0;
    border-radius: 5px;
}

.input-container .new-message:focus-visible {
    outline: 3px solid yellowgreen;
}