/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* UTILITY */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-l {
    float: left;
}

/* MAIN-APP */
main {
    background-color: #d8dbd6;
    width: 100%;
    height: 100vh;
    padding: 2% 0;
}

.general-container {
    width: 80%;
    /* TEST */ height: 100%;
    margin: 0 auto;
    background-color: red;
}

.contacts-container {
    width: 40%;
    /* TEST */ height: 100%;
    background-color: blue;
}

.messages-container {
    width: 60%;
    /* TEST */ height: 100%;
    background-color: orange;
}

.user-header {
    display: flex;
    background-color: #eaeaea;
    align-items: center;
    padding: .5rem;
}

.user-header .user-image {
    width: 50px;
}

.user-image img {
    border-radius: 50%;
}

.user-data {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 .5rem;
}

.user-data .user-name {
    font-weight: 500;
}

.user-data .icons-container {
    display: flex;
    color: #b1b1b1;
    font-size: 1.2rem;
}

.user-data .icons-container li:not(li:first-child) {
    margin-left: 1rem;
}

.notifications-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #8edafc;
}

.notifications-container .icon-container {
    font-size: 1.2rem;
    padding: .5rem;
    border-radius: 50%;
    color: #8edafc;
    background-color: white;
}

.notifications-container .text {
    display: flex;
    flex-direction: column;
    padding-left: .5rem;
}

.notifications-container .text span {
    font-size: .9rem;
    font-weight: 500;
}

.notifications-container .text a {
    font-size: .7rem;
}

.search-container {
    display: flex;
    align-items: center;
    padding: .5rem .5rem;
    background-color: #ffffff;
}

.search-container .icon-container {
    padding: .3rem 1rem;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 2px 2px lightgrey;
}

.search-container .input-container {
    flex-grow: 1;
}

.search-container .search-input {
    display: inline-block;
    width: 90%;
    margin-left: .5rem;
    padding: .3rem .5rem;
    border: 0;
    border-radius: 20px;
}

.search-container .search-input:focus-visible {
    outline: 3px solid #8edafc;
}